:host {
  .lobby-main-outlet {
    min-height: 75rem;
    padding-top: 4.5rem;

    background-color: #949494;
    color: #ffffff;
  }
}

:host ::ng-deep {

  .btn-secondary,
  .btn-secondary:hover,
  .btn-secondary:focus {
    color: #333;
    text-shadow: none;
    background-color: #fff;
    border: .05rem solid #fff;
  }

  .cover-container {
    max-width: 80em;
  }

  .cover {
    padding: 0 1.5rem;
  }

  .cover .btn-lg {
    padding: .75rem 1.25rem;
    font-weight: 700;
  }

  .mast-foot {
    color: rgba(255, 255, 255, .5);
  }

}
