<form class="form-sign-in" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <ngb-alert *ngIf="thereAreErrors"
             (close)="thereAreErrors = true"
             [@chatFadeInOut]>
    {{alertMessage}}
  </ngb-alert>

  <img class="mb-4"
       src="assets/images/logo.png"
       alt="" width="120" height="120">
  <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>

  <label for="inputEmail" class="sr-only">Email address</label>
  <input class="form-control"
         type="email"
         id="inputEmail"
         placeholder="Email address"
         required
         autofocus
         formControlName="email">
<ul *ngIf="loginForm.get('email').invalid && (loginForm.get('email').dirty || loginForm.get('email').touched)"
      class="text-danger text-left small">
  <li *ngIf="loginForm.get('email').errors.required">
      Email is required.
  </li>
  <li *ngIf="loginForm.get('email').errors.forbiddenDomain">
    Only {{validDomains.join(',')}} are allowed.
   </li>
</ul>
  <label for="inputPassword"
         class="sr-only">Password</label>
  <input type="password"
         id="inputPassword"
         class="form-control"
         placeholder="Password"
         required=""
         formControlName="password">

<ul *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)"
      class="text-danger text-left small">
  <li *ngIf="loginForm.get('password').errors.required">
      Password is required.
  </li>
  <li *ngIf="loginForm.get('password').errors.minlength">
    Min length required: {{passMinLength}}
  </li>
</ul>

  <button class="btn btn-lg btn-primary btn-block"
          type="submit" [disabled]="!loginForm.valid">
    Login
  </button>

  <a routerLink="/secure/sign-up">Create an account</a>

  <p class="mt-5 mb-3 text-muted">© Angular DH-2019</p>
</form>
